.item__precio {
    font-weight: 600;
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

.item__info {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}
