.checkout {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.checkout__title {
    color: rgb(105, 105, 105);
    font-size: 30px;  
    margin-top: 100px; 
}

.checkout__sub {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.checkout__subt {
    font-size: 25px;
    font-weight: 400;
    color: darkgray;
    text-align: center;
}

.checkout__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid gray;
    border-radius: 0.7rem;
    margin: 50px auto;
    padding: 40px;
}

.checkout__input{
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    padding: 10px;
}

.checkout__button{
    width: 100px;
}

.ckeckout__success{
    margin: 120px 100px;
}